.overlay_style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_style {
    background-color: #fff;
    padding: 24px;
    border: 2px solid #000;
    border-radius: 10px;
    min-width: 300px;
    text-align: center;
    /* box-shadow: 8px 8px 0px #000; */
}

.button_container_style {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button_style {
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.spinner_style {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000; /* 검정색 포인트 */
    border-radius: 50%;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}